@inherits LayoutComponentBase

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">

<div class="page">
     <div class="sidebar"> 
         <NavMenu /> 
     </div> 

    <main>
        <div class="top-row navbar">
            <div class="container-fluid d-flex align-items-center">
            <div class="navbar-brand" href="#"">
         <img src="images/Final_Logo.png" class="navbar-logo" alt="Logo"/>
        </div>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
