@inherits LayoutComponentBase

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<div class="page">
    <main>
        <div class="top-row navbar">
            <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="navbar-brand d-flex align-items-center">
                <img src="images/Moviely_Logo.png" class="navbar-logo" alt="Logo"/>
            </div>

        <nav class="nav-links d-flex align-items-center">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="images/House_Icon.svg" class="icon-image"/>
                Home           
            </NavLink>
      
            <NavLink class="nav-link" href="MovieSection">
                <span class="bi bi-camera-reels" aria-hidden="true"></span> 
                <img src="images/Film_Icon.svg" class="icon-image" />
                Movies
            </NavLink>
    </nav>
    </div>
    </div>
            <article class="content px-4">
                @Body
            </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
