<div class="navbar">
    <div class="container-fluid d-flex align-items-center">
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door" aria-hidden="true"></span>
                <img src="images/House_Icon.svg" class="icon-image" />
            <span>Home</span>             
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MovieSection">
                <span class="bi bi-camera-reel" aria-hidden="true"></span> 
                <img src="images/Film_Icon.svg" class="icon-image" />
                <span>Movies</span>
            </NavLink>
        </div>
    </nav>
</div>

           