<PageTitle>Home</PageTitle>
<div class="title text-center">
    <h1>Narrative</h1>
</div>


<h2>Search for your favourite book!</h2>
<input placeholder="Enter Book Title" @bind="bookTitle"/>

@code {
    private string? bookTitle;
    private List<Books> books = new();

}
