.page[b-b16d1zioi2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-b16d1zioi2] {
    flex: 1;
}

.sidebar[b-b16d1zioi2] {
    background-color: #B08A84;
}

.top-row[b-b16d1zioi2] {
    background-color: #ddbbb6;
    /*    or #B08A84 */
    /*    height: 56px;*/
    border-bottom: 2.5px solid #c97c7e;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-b16d1zioi2]  a, .top-row[b-b16d1zioi2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-b16d1zioi2]  a:hover, .top-row[b-b16d1zioi2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-b16d1zioi2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-b16d1zioi2] {
        justify-content: space-between;
    }

    .top-row[b-b16d1zioi2]  a, .top-row[b-b16d1zioi2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-b16d1zioi2] {
        flex-direction: row;
    }

    .sidebar[b-b16d1zioi2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-b16d1zioi2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-b16d1zioi2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

}

#blazor-error-ui[b-b16d1zioi2] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-b16d1zioi2] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


h1[b-b16d1zioi2] {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.main-page-image[b-b16d1zioi2]{
    position: fixed;
    object-fit: cover;
}